<!DOCTYPE html>
<html>
  <head>
    <title><%= process.env.TITLE %></title>
    <link rel='stylesheet' href='/stylesheets/mvp.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
