<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= process.env.TITLE %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= process.env.TITLE %></title>
    <link rel='stylesheet' href='/stylesheets/mvp.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li id="connect-metamask">
            <form id="introduction-form" action="/auth/introduce" method="post" onsubmit="return handleIdentification(event)">
              <input type="hidden" name="publicAddress">
              <button id="connect-metamask-button" type="submit">Confirm your identity with Metamask</button>
            </form>
          </li>
        </ul>
      </nav>
      <% include _partials/messages %>
      <h1><%= process.env.TITLE %></h1>
      <p>Proverbs 3:9-10</p>
      <p>
        A secure and anonymous way to tithe on your Ethereum earnings.
      </p>
    </header>
    <main>
      <section>
        <aside>
          <img src="/images/ethereum-logo.svg" height="70">
          <h3>What is Ethereum?</h3>
          <p>
            Ethereum is a <em>blockchain</em> that allows you to interact with
            <em>smart contracts</em>. This blockchain enables transactions with
            a crypto currency called <em>eth</em>. Eth also pays for the upkeep of
            the Ethereum world-wide distributed computer.
          </p>
        </aside>
        <aside>
          <img src="/images/metamask-fox.svg" height="70">
          <h3>What is Metamask?</h2>
          <p>
            Metamask is a plugin for your browser, e.g., Chrome or Firefox.
            You can also download an app for your phone. Metamask allows you to
            connect securely with your Ethereum account. You don't need logins or
            email addresses to use this application. You simply verify
            account ownership by clicking the button above.
          </p>
        </aside>
      </section>
    </main>
    <script>
      /**
       * 2021-9-27 Adapted from https://docs.metamask.io/guide/create-dapp.html
       */
      document.addEventListener('DOMContentLoaded', function(event) {

        // Created check function to see if the MetaMask extension is installed
        const isMetaMaskInstalled = () => {
          // Have to check the ethereum binding on the window object to see if it's installed
          const { ethereum } = window;
          return Boolean(ethereum && ethereum.isMetaMask);
        };

        if (isMetaMaskInstalled()) {
          handleIdentification = (e) => {
            e.preventDefault();

            document.getElementById("connect-metamask-button").disabled = true;
            ethereum.request({ method: 'eth_requestAccounts' }).then(accounts => {

              const account = accounts[0];

              document.querySelector('input[name="publicAddress"]').value = account;
              e.target.submit();
            }).catch(err => {
              console.error('Something dreadful happened when accessing your account');
              console.error(err);
            });
          };
        }
        else {
          document.getElementById('connect-metamask').innerHTML = 'Install the <a href="https://metamask.io/" target="_blank">Metamask</a> browser plugin';
        }
      });
    </script>
  </body>
</html>
