<% include _partials/head %>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li>
            <%= process.env.TITLE %>
          </li>
        </ul>
      </nav>
      <% include _partials/messages %>
      <div id="connect-nami"></div>
      <h1>A secure and anonymous way to tithe on your Cardano earnings.</h1>
      <p>
        Proverbs 3:9-10
      </p>
      <form id="introduction-form-top" class="introduction-form" action="/auth/introduce" method="post" onsubmit="return handleIdentification(event)">
        <input type="hidden" name="publicAddress">
        <button class="connect-nami-button" type="submit">Confirm your identity with Nami</button>
      </form>
    </header>
    <main>
      <section>
        <aside>
          <img src="/images/nami-logo.svg" height="70">
          <h3>What is Nami?</h2>
          <p>
            Nami is a plugin for your browser, e.g., Brave, Chrome, Firefox.
            Nami allows you to connect securely with your Cardano account. You
            don't need logins or email addresses to use this application. You
            simply verify account ownership by clicking the button above.
          </p>
        </aside>
        <aside>
          <img src="/images/cardano-logo.svg" height="70">
          <h3>What is Cardano?</h3>
          <p>
            Cardano is a <em>blockchain</em> that allows you to interact with
            <em>smart contracts</em>. This blockchain enables transactions with
            a crypto currency called <em>ada</em>. Ada also pays for the upkeep of
            the Cardano world-wide distributed computer.
          </p>
        </aside>
        <aside>
          <img src="/images/blockchain.png" height="70">
          <h3>What is a blockchain?</h3>
          <p>
            A blockchain is a worldwide computer that - once turned on - can
            never be turned off so long as there is demand for the service it
            provides (barring act of God. E.g. solar flare, etc.). Cardano is one
            such computer.
          </p>
        </aside>
        <aside>
          <img src="/images/tax-receipt.png" height="70">
          <h3>Will I get a tax receipt?</h2>
          <p>
            Yes. Once your gift of ada is received, it will be liquidated in exchange
            for Canadian currency. You will receive a receipt for the sale
            price minus any network and bank fees.
          </p>
        </aside>
        <aside>
          <img src="/images/anonymous.svg" height="70">
          <h3>Can I give anonymously?</h2>
          <p>
            Yes. Donations made anonymously will not be liquidated, but rather
            used in blockchain development projects. Of course, tax receipts
            can only be issued if your contact information is provided. Anonymous
            givers cannot be receipted.
          </p>
        </aside>
        <aside>
          <img src="/images/regular-money.svg" height="70">
          <h3>Wouldn't regular money be better?</h2>
          <p>
            Ada does something <em>regular</em> money cannot. It is the currency
            of the Cardano blockchain. As a blockchain developer, I need Ada to
            execute <em>smart contracts</em> on the Cardano network.
          </p>
          <p>
            You can still give regular money too though!
          </p>
        </aside>
        <aside>
          <img src="/images/broke.png" height="70">
          <h3>Can I try this app without giving?</h2>
          <p>
            Yes, please do. You'll need to learn a bit about <a>Nami</a>.
            Don't worry, it's easy. This app will try to teach a bit too. After
            you've installed Nami,
            <form id="introduction-form-bottom" action="/auth/introduce" method="post" onsubmit="return handleIdentification(event)">
              <input type="hidden" name="publicAddress">
              <button class="connect-nami-button" type="submit">Confirm your identity</button>
            </form>
          </p>
        </aside>
      </section>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        handleIdentification = async (e) => {
          e.preventDefault();

          const { cardano } = window;

          for (let button of document.querySelectorAll("connect-nami-button")) {
            button.disabled = true;
          }

          if (cardano) {
            await cardano.enable();

            /**
             * 2021-12-20
             *
             * `getUsedAddresses`, `getChangeAddress`, and `getUnusedAddresses`
             * all return the same address.
             *
             * `getRewardAddress` is the exception.
             */
            try {
              const address = await cardano.getChangeAddress();

              e.target.querySelector('input[name="publicAddress"]').value = address;

              e.target.submit();
            }
            catch(err) {
              console.error('Something dreadful happened when accessing your account');
              console.error(err);
            };
          }
          else {
            document.getElementById('connect-nami').innerHTML = '<br><mark>Install the <a href="https://namiwallet.io/" target="_blank">Nami↗</a> browser plugin</mark>';
          }
        };
      });
    </script>
  </body>
</html>
